/*
元の設定はすべて削除
*/

body {
  margin: 0;
  padding: 2em;
  font-family: 'sans-serif';
  background-color: lightcyan;
}

td {
  padding: 0.5em;
}

.center-item {
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
}

#location-select {
  padding: 0.5em 1em;
  width: 200px;
  background-color: lemonchiffon;
  border: 2px solid orange;
  border-radius: 10px;
}

#weather-table {
  background-color: white;
}
/* 下記追加 */
.date-button {
  margin: 0 5px;
  padding: 0.5em 1em;
  border-radius: 5px;
  border: 2px solid slategray;
}
/* ここまで */

/* 下記追加 */
.selected-date {
  background-color: palegreen;
  border: 2px solid green;
}
/* ここまで */
